

body {
  position: relative;
  min-width: 100vw;
  min-height: 100vh;
  margin: 0;
  background-image: url("backgroundImage15.png");
  background-size: cover;
  background-position: bottom;

}

/* body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-image: url('backgroundImg15.png');
  background-size: cover;
  background-position: bottom; */
 /* opacity: 0.7; /* The opacity of the background image (0.0 - 1.0) */
 /*z-index: -1; /* Places the background behind the content */
/* } */

/* #navBar{
    width: 100%;
    height: 10vh;
    background-color: #0D0D15;
    border-bottom: 2px solid #00F3FF;
    box-shadow: 0 4px 20px rgba(0, 243, 255, 0.3);
    position: fixed;
    top: 0;
} */


.navbar {
  height: var(--nav-height);
  background-color: var(--bg-dark);
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  border-bottom: 2px solid #00F3FF;
  box-shadow: 0 4px 20px rgba(0, 243, 255, 0.3);
}

.nav-container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-family: 'Courier New', Courier, monospace;
  font-size: 1.5rem;
  font-weight: bold;
  color: #FFFFFF;
  text-decoration: none;
  letter-spacing: 2px;
}

.logo span {
  color: rgb(119, 241, 241);
  text-shadow: 0 0 10px #00F3FF;
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 30px;
}

.nav-links a {
  text-decoration: none;
  color: #aaaaaa;
  font-size: 0.9rem;
  text-transform: uppercase;
  transition: 0.3s;
}

.nav-links a:hover, .nav-links a.active {
  color: var(--neon-cyan);
  text-shadow: 0 0 8px #00F3FF;
}
.title-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

div .website-title{
  margin-top: 100px;
  text-transform: uppercase;
  color: rgb(207, 242, 246);
}
div .website-subtitle{
  margin-top: -2px;
  color: rgb(207, 242, 246);
  font-size: 1.3rem;
}


#search-box{
  margin-top: 2px;
  width: 50vw;
  height: 35px;
  border-radius: 5px;
  border: none;
  background-color: rgba(249, 249, 249, 0.3);
  border: 1px solid cyan;
  color: white;
  box-shadow: 2px 2px 5px rgb(108, 219, 219), -2px -2px 5px rgb(108, 219, 219);
}

#search-box::placeholder{
  color: rgba(255, 251, 251, 0.782);
}

#search-btn{
  height: 35px;
  width: 35px;
  background-color: rgba(249, 249, 249, 0.3);
  border: 1px solid cyan;;
  box-shadow: 2px 2px 5px rgb(108, 219, 219), -2px -2px 5px rgb(108, 219, 219);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#search-btn:hover{
  cursor: pointer;
}

#search-box-container{
  height: 40px;
  display: flex;
  column-gap: 8px;
  justify-content: center;
  align-items: center;
}

label{
  color: rgb(190, 186, 186);
  line-height: 10px;
}


.checkbox-container{
  width: 12vw;
  max-height: 35vh;
  line-height: 25px;
  border: 1.5px solid rgb(95, 158, 158);
  border-radius: 10px;
  backdrop-filter: blur(3px);
  padding: 10px;
}

.platformsHeading{
  color: rgb(203, 201, 201);
  margin-top: 5px;
  margin-bottom: 0px;
}

.genresHeading{
  margin-top: 15px;
  margin-bottom: 0px;
  color: rgb(203, 201, 201);
}

.year-slider{
  margin-top: 15px;
}

.card{
  display: flex;
  flex-direction: column;
  row-gap: 4px;
  padding: 5px;
  width: 20vw;
  height: 30vh;
  border: 1.5px solid rgb(95, 158, 158);
  border-radius: 10px;
  backdrop-filter: blur(3px);
}

.card button{
  border-radius: 5px;
  height: 3vh;
  background-color: transparent;
  border: 1px solid cyan;
  color: whitesmoke;

}
.card img{
  width: 15vw;
  height: 15vh;
}

.cards-container{
  display: flex;
  flex-wrap: wrap;
  margin-left: 1vw;
}

.hero-section{
  display: flex;
  margin-left: 11vw;
  margin-top: 2vh;
  column-gap: 1vw;
}